<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet/less" type="text/css" href="../less/style.less"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<div class="wrapper">

    <div class="lists">
        <header>
            <div class="todo">ToDo</div>
        </header>
        <main>
            <ul class="main-lists">
                <li><a ng-href="#">dhjfd</a></li>
                <li><a ng-href="#">dhjfd</a></li>
                <li><a ng-href="#">dhjfd</a></li>
                <li><a ng-href="#">dhjfd</a></li>
            </ul>


        </main>

        <footer>
            <a href="#" ng-click="addList()"><i class="fa fa-plus-square-o fa-2x"></i>Add list</a>
        </footer>
    </div>

    <div class="tasks">
        <header>
            <div class="name-list">Name list <a><i class="fa fa-plus-square-o"></i></a></div>
        </header>
        <main>

            <ul class="main-tasks">
                <li><i class="fa fa-circle-o"></i><a ng-href="#">dhjfd</a></li>
                <li><i class="fa fa-circle-o"></i><a ng-href="#">dhjfd</a></li>
                <li><i class="fa fa-circle-o"></i><a ng-href="#">dhjfd</a></li>
                <li><i class="fa fa-circle-o"></i><a ng-href="#">dhjfd</a></li>
            </ul>


        </main>
        <footer>
            <a href="#" ng-click="deleteList()"><i class="fa fa-minus-square-o fa-2x"></i>Delete list</a>
        </footer>
    </div>

</div>

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
</body>
</html>